@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
.clientImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.clientImage img{
    height: 100%;
    max-width: 100%;
}
 
  .menu-burger {
    display: none;
    width: 100%;
  }
  
  .header-div a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    z-index: 5;
  }

  .menu-burger a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    z-index: 5;
  }
  
  .header-div a:hover {
    background-color: #ddd;
  }
  
  .menu-burger.active {
    background-color: #c8c8c8;
    display: block;
    top: 0;
    position: absolute;
    left: 0;
  }
  .nav-4.active {
    background-color: #c8c8c8;
  }

  .active .fa-x {
    display: block;
    color: white;
  }
  .fa-x {
    display: none;
  }
  .active .fa-bars {
    display: none;
  }
